container_commands:
  00_attach_accounts:
    command: |
      INSTANCE_ID=$(/opt/aws/bin/ec2-metadata -i | awk '{print $2}')
      aws ec2 attach-volume --region us-west-2 --device /dev/sdf --instance-id ${INSTANCE_ID} --volume-id ${ACCOUNTS_VOL_ID}
    test: "! file -LE /dev/sdf"
    ignoreErrors: false
  01_attach_accounts_wait:
    command: |
      COUNTER=0
      while [ ! -e /dev/sdf ]; do
        if [  $COUNTER -gt 5 ]; then
          exit 1
        fi
        let COUNTER=COUNTER+1
        echo Waiting for repos volume to attach
        sleep 5
      done
    test: "! file -LE /dev/sdf"
    ignoreErrors: false
  02_mkdir_accounts:
    command: "mkdir -p /gitern"
    ignoreErrors: false
  03_mount_accounts:
    command: "mount /dev/sdf /gitern"
    test: "! mountpoint /gitern"
    ignoreErrors: false

  04_create_jail_sh:
    command: cd scripts && ./create-jail.sh
    ignoreErrors: false

  05_cmd_build_sh:
    command: cd cmd && ./build-cmd.sh
    ignoreErrors: false

  06_hooks_build_sh:
    command: cd hooks && ./build-hooks.sh
    ignoreErrors: false
