groups:
  git:
    gid: "556"
  authorized-keys-command:
    gid: "889"
  serf:
    gid: "445"

commands:
  command 00_add_user_git:
    test: test ! "`id -u git 2> /dev/null`"
    command: useradd -d / -g git -u 555 git -s /usr/bin/git-shell
    ignoreErrors: false
  command 01_add_user_authorized_keys_command:
    test: test ! "`id -u authorized-keys-command 2> /dev/null`"
    command: useradd -d /home/authorized-keys-command -g authorized-keys-command -u 888 authorized-keys-command -s /sbin/nologin
    ignoreErrors: false
  command 02_add_user_serf:
    test: test ! "`id -u serf 2> /dev/null`"
    command: useradd -d /home/serf -g serf -u 444 serf -s /sbin/nologin
    ignoreErrors: false